* {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin flex($jc:center,$ai:center,$fd:unset) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
}
body {
  font-family: $ff-s;
  line-height: 1.6;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a:hover{
  text-decoration: none;
}

h1 {
  @include font-settings(
    $fs: 3.125rem,
    $fw: 700,
    $lh: 65px,
    $color: $secondaryColor
  );
}

h2 {
  @include font-settings(
    $fs: 2.5rem,
    $fw: 700,
    $lh: 40px,
    $color: $primaryColor
  );
}

h3 {
  @include font-settings($fs: 2rem, $fw: 500, $lh: 31px, $color: $primaryColor);
}

h4 {
  @include font-settings($fs: 1.5rem, $fw: 900, $lh: 31px, $color: $primaryColor);
}

p {
  @include font-settings();
}

button {
  border: none;
  outline: none;
  border-radius: 50px;
  padding: 15px 45px;
  text-align: center;
  transition: 0.5s;
}
.btn-gradient {
  background-image: linear-gradient(
    to right,
    $secondaryColor,
    #f45c43,
    #eb3349,
    #f32039,
  );
  background-size: 800% 800%;
  -webkit-animation: AnimationName 15s ease infinite;
  -moz-animation: AnimationName 15s ease infinite;
  animation: AnimationName 15s ease infinite;
  display: block;
  background-size: 200% auto;
  color: $whiteColor;
  font-weight: 700;
}
.btn-gradient:hover {
  // background-position: right center; /* change the direction of the change here */
  color: #fff;
  transform: scale(1.05);
  text-decoration: none;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}