#top-navigations {
  width: 100%;
  padding: 80px;
  .row {
    div {
      padding: 35px;
      margin: 0 auto;
      box-shadow: 0px 1px 15px 1px rgba(19, 68, 165, 0.1);
      border-radius: 10px;
      transition: all 0.3s ease-in-out;
      
      img {
        border-radius: 50%;
        width:70px;
        height:70px;
        margin:1em;
        margin-left: 0;
      }
      #nar{
        height:60px;
        border-radius: 0;
      }
      p {
        color: $pSecondaryColor;
      }
    }
    div:hover {
      transform: translateY(-15px);
      transition: all 0.3s ease-in-out;
    }
  }
}
