$blue : rgb(3,30,254);
$dark-blue :  rgb(10, 10, 119);
$descBgColor: #f8fafb;
$packagesBgColor: #f4f8fb;

$primaryColor: #010f54;
$secondaryColor: #f06850;
$pColor: #eef3f6;
$pSecondaryColor: #035f91;
$whiteColor: #fff;